@charset "utf-8";
html {
  scroll-behavior: smooth;
}
body {font-family: var(--main-font01); line-height: 1.5; color: #333; font-size: 1.6rem;}
#wrap {overflow-x: hidden;}
.inner {max-width: 1540px; padding: 0 20px; margin: 0 auto;}

:root {
    --main-color01: #7DC486;
    --main-color02: #7BCA7B;
    --main-font01: "Pretendard", sans-serif;
    --sub-font01: 'SangjuGotgam', sans-serif;
    --sub-font02: 'YeogiOttaeJalnan', sans-serif;
    --sub-font03: 'WanjuDaedunsan', sans-serif;
}

/* header */
#header {width: 100%; position: fixed; top: 0; left: 0; background: #fff; transition: padding-top 0.5s, all 0.5s; z-index: 100;}

#header.on-scroll {
 height: 70px;   /* 필요하다면 스크롤 시 헤더 전체 높이를 조절하세요 */
 background: rgba(255, 255, 255, 0.6);
}

#header.on-scroll h1 {
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.4s;
}

#header.on-scroll .gnb {
    height: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.4s;
}

#header.on-scroll .inner {
    padding-top: 10px;    /* 스크롤 시 상단 여백 최소화 */
    padding-bottom: 10px;
    align-items: center;
}
#header.on-scroll .btn_search {
  display: none;
}

#header.on-scroll .btn_search {
  display: none;
}
#header.on-scroll .m_button {
  display: none;
}

.on-scroll-margin {
    margin-top: 140px !important;
}



#header .inner {display: flex; justify-content: space-between; align-items: flex-end; padding: 20px 20px 0; transition: all 0.5s;}
#header .num1 {display: flex; gap: 10px;}
#header .num1_img{width: 50px; height: 50px; background: url(../images/common/1st.png);}
#header .num1_txt {font-weight: 600; color: var(--main-color01); line-height: 1.1;}

#header h1 img {width: 120px; height: 100px; margin-right: 44px;;}

#header .util {display: flex; gap: 15px; align-items: center;}
#header .util .login {border: 1px solid var(--main-color01); padding: 4px 18px 3px; color: var(--main-color01); border-radius: 50px; }
#header .util .btn_ham {background: transparent; cursor: pointer;}
#header .util .btn_search {background: transparent; cursor: pointer;}
#header .util .btn_search img {width: 34px; height: 34px;}
        
#header .gnb {display: flex; justify-content: center; z-index: 5; padding: 30px 0; background: #fff; transition: all 0.5s;}
#header .gnb > li {position: relative;}
#header .gnb > li > a {display: block; font-size: 2rem; font-weight: 600; padding: 5px 30px; color: #727272;}

#header .gnb > li .depth2 {width: 100%; position: absolute; top: -5px; z-index: 5; color: #727272; background: #fff; border-radius: 20px; left: 50%; transform: translateX(-50%);  text-align: center; padding: 5px 0 10px; display: none; box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15); z-index: 6;}
#header .gnb > li .depth2 li a {display: block; padding: 5px; font-weight: 500; position: relative; transition: all 0.3s;}
#header .gnb > li .depth2 li a:hover {color: #ACC5FA;}
#header .gnb > li .depth2 .depth2_title a {font-size: 2rem; font-weight: 600; color: var(--main-color01); margin-bottom: 5px;}
#header .gnb > li .depth2 .depth2_title a:hover {color: var(--main-color01);}

#header .pop_search {width: 100%; height: 110px; background: #fff; position: absolute; top: 220px; z-index: 2; display: none;}
#header .pop_search form {position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 600px;}
#header .pop_search .input_box {border: 1px solid var(--main-color01); border-radius: 10px; display: grid; grid-template-columns: auto 30px; padding: 0 10px; height: 40px; align-items: center; position: relative; z-index: 2; background: #fff;}
#header .pop_search input[type="submit"] {width: 32px; height: 32px;  background: url(../images/common/btn_search.png) center; font-size: 0; cursor: pointer;}
#header .pop_search input[type="text"] {background: transparent; outline: none;}
#header .pop_search input[type="text"]::placeholder {color:#aaa}
#header .pop_search .popular {display: flex; gap: 5px; position: absolute; bottom: 30px; left: 50%; transform: translateX(-49%); z-index: -1; width: 600px;}
#header .pop_search .popular li a {padding: 5px 10px; border: 1px solid var(--main-color01); color: var(--main-color01); border-radius: 50px;}
#header .pop_search .btn_pop_close {width: 30px; height: 30px; background: var(--main-color01); border-radius: 50%; position: absolute; top: 5px; right: -40px; cursor: pointer;}
#header .pop_search .btn_pop_close img {width: 20px; height: 20px; filter: invert(1) brightness(100);}
#header .m_button {position: relative; display: none; width: 35px; height: 35px;}
#header .m_search {background: transparent; cursor: pointer;}
#header .m_search img {width: 35px; height: 35px;}
#header .m_close {width: 34px; height: 34px; background: var(--main-color01); border-radius: 50%; cursor: pointer; position: absolute; left: 0; top: 0; display: none;}
#header .m_close img {width: 20px; height: 20px; filter: invert(1) brightness(100);}

#header .dim {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); z-index: 200; display: none;}

/* mgnb */
.mgnb_wrap {width: 500px; height: 100%; position: fixed; right: 0; top: 0; background: #fff; z-index: 210; padding: 30px 20px 30px 10px; display: none;}
.mgnb_wrap .mgnb_logo img {width: 173px;}
.mgnb_wrap .close_mgnb {background: transparent; position: absolute; top: 75px; right: 40px; cursor: pointer;}
.mgnb_wrap .mgnb {padding: 60px 0px 60px 65px;}
.mgnb_wrap .mgnb > li {padding: 20px 0; border-top: 1px solid rgba(0, 0, 0, 0.1);}
.mgnb_wrap .mgnb > li > a {display: block; font-size: 2rem; font-weight: 600; color: var(--main-color01); margin-bottom: 20px;}
.mgnb_wrap .mdepth2 {display: flex; gap: 30px; font-size: 1.6rem; font-weight: 500;}



#header.active {background: var(--main-color01);}
#header.active .gnb {background: var(--main-color01);}
#header.active .gnb > li > a {color: #fff;}
#header.active .gnb > li:hover > a {color:var(--main-color01);}
#header.active .num1 .num1_img {background: url(../images/common/1st_w.png);}
#header.active .num1 .num1_txt {color: #fff;}
#header.active h1 img {filter: invert(1) brightness(100);}
#header.active .util .login {border: 1px solid #fff; color: #fff;}
#header.active .util .btn_ham {filter: invert(1) brightness(100);}
#header.active .util .btn_search {filter: invert(1) brightness(100);}


@media (max-width: 1150px) {
  #header h1 img {margin-right: 0;}
  #header {padding-bottom: 0; height: 50px;}
  #header .gnb {display: none;}
  #header .util .login {display: none;}
  #header .util .btn_search {display: none;}
  #header .num1 {display: none;}
  #header .m_button {display: block;}
  #header .pop_search {top: 140px;}
  #header .btn_pop_close {display: none;}
  .on-scroll-margin {
    margin-top: 70px !important;
}
#header.on-scroll {
 height: 60px;
}
}

@media (max-width: 750px) {
  #header .inner {padding: 20px 20px 10px;}
  #header .pop_search {top: 114px;}
  #header h1 img {width: 100px; height: auto;}
}

@media (max-width: 650px) {
   #header .pop_search {height: 90px;}
  #header .pop_search form {width: 93%;}
  #header .pop_search .popular li a {font-size: 1.2rem;}
  #header .pop_search .popular {transform: translateX(-50%); justify-content: center; bottom: 15px;}
}
@media (max-width: 500px) {
  #header .pop_search .popular li:nth-child(5) a {display: none;}
  #header .pop_search .popular li:last-child a {display: none;}
  .dim {display: none;}
  .mgnb_wrap {width: 100%;}
  .mgnb_wrap .mgnb {padding: 60px 20px;}
  .mgnb_wrap .mgnb_logo img {width: 120px;}
  .mgnb_wrap .mgnb > li > a {font-size: 1.6rem; margin-bottom: 10px;}
  .mgnb_wrap .mdepth2 {display: flex; gap: 20px; font-size: 1.4rem; font-weight: 500;}
  
}

@media (max-width: 400px) {
  #header .pop_search {top: 95px;}
  .mgnb_wrap .mdepth2 {font-size: 1.2rem;}
  #header h1 img {width: 80px; height: auto;}
}


/* footer */
#footer {height: 500px; background: var(--main-color01); padding: 100px 0; color: rgba(255, 255, 255, 0.8);}
#footer .inner {display: grid; grid-template-columns: 55% 45%; gap: 200px;}
#footer .footer_left strong {display: inline-block; padding-left: 63px; font-size: 2rem; font-weight: 600; margin-bottom: 35px;}
#footer .footer_left address {display: flex; flex-wrap: wrap; column-gap: 15px; padding-left: 63px; margin-bottom: 35px;}
#footer .footer_left .copy {padding-left: 63px;}
#footer .footer_right {display: flex; gap: 150px;}
#footer .footer_right h2 {font-size: 2rem; font-weight: 600; margin-bottom: 20px;}
#footer .footer_right .company ul {list-style:disc; padding-left: 20px;}
#footer .footer_right .company ul li {margin-top: 10px; font-weight: 600;}
#footer .footer_right .SNS ul li {padding-left: 30px; font-weight: 500; margin-top: 10px;}
#footer .footer_right .SNS ul li:nth-child(1) {background: url(../images/common/insta.png) no-repeat left center;}
#footer .footer_right .SNS ul li:nth-child(2) {background: url(../images/common/youtube.png) no-repeat left center;}
#footer .footer_right .SNS ul li:nth-child(3) {background: url(../images/common/facebook.png) no-repeat left center;}
#footer .footer_right .SNS ul li:nth-child(4) {background: url(../images/common/kakao.png) no-repeat left center;}
#footer .footer_right .SNS ul li:nth-child(5) {background: url(../images/common/blog.png) no-repeat left center;}

@media (max-width: 1350px) {
  #footer .inner {gap: 100px;}
}

@media (max-width: 1150px) {
#footer {height: auto; text-align: center; padding: 50px 0;}
#footer .inner {grid-template-columns: 100%; gap: 50px;}
#footer .footer_logo {margin-right: 30px;}
#footer .footer_left strong {display: inline-block; padding-left: 0; margin-bottom: 35px;}
#footer .footer_left address {justify-content: center; padding-left: 0;}
#footer .footer_left .copy {padding-left: 0;}
#footer .footer_right {margin: 0 auto; gap: 50px; text-align: left;}
}

@media (max-width: 495px) {
  #footer .footer_left address {font-size: 1.4rem;}
  #footer .footer_left .copy {font-size: 1.4rem;}
}
