@charset "utf-8";

body {font-family: var(--main-font01); line-height: 1.4; color: #323232; font-size: 1.6rem;}
#wrap {overflow-x: hidden;}
.inner {max-width: 1540px; padding: 0 20px; margin: 0 auto;}

:root {
    --main-color01: #ff9898;
    --main-color02: #fff4ed;
    --main-font01: "Paperozi", sans-serif;
    --sub-font01: "BagelFat", sans-serif;
}


/* header */
#header {position: fixed; top: 0; width: 78.152vw; background: #fff; left: 50%; transform: translateX(-50%); border-radius: 0 0 30px 30px; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05); z-index: 10; transition: all 0.5s;}
#header .inner {display: flex; justify-content: space-between; align-items: center; padding: 0 8px 0 32px;}
#header h1 a {display: block; height: 30px; display: flex; justify-content: center; align-items: center; margin-bottom: 8px}
#header .gnb {display: flex; font-weight: 600;}
/* #header .gnb > li > a {display: block; padding: 20px 30px; transition: all 0.3s;} */
#header .gnb > li > a {display: flex; justify-content: center; align-items: center; padding: 20px 30px; transition: all 0.3s; position: relative;}
#header .gnb > li:hover > a {color: var(--main-color01);}
#header .gnb > li.contact {background: var(--main-color01); color: #ffffff; display: inline-flex; justify-content: center; align-items: center; width: 120px; height: 46px; overflow: hidden; margin: 8px 0; border-radius: 50px 0 50px 50px; cursor: pointer; transition: all 0.3s;}
#header .gnb > li.contact:hover {background: var(--main-color02); color: var(--main-color01);}
#header .btn_ham {background: transparent; height: 46px; width: 46px; display: none; margin: 8px 0; cursor: pointer;}
#header .btn_close {background: transparent; height: 46px; width: 46px; display: none; margin: 8px 0; cursor: pointer;}

@media (max-width: 1150px) {
  #header .gnb {display: none;}
  #header .btn_ham {display: block;}
  #header .inner {padding: 0 8px 0 20px;}
}

/* footer */
#footer {position: relative; background: var(--main-color02); padding: 130px 0 50px;}
#footer .inner {max-width: 1660px; text-align: center;}
#footer dl dt {font-size: 4rem; font-family: var(--sub-font01); margin: 35px 0 20px;}
#footer dl dd {font-size: 2.4rem; font-weight: 500; margin-bottom: 16px;}
#footer p.copy {margin-top: 64px; font-weight: 500; color: var(--main-color01);}
#footer .ball_group {text-align: right;}
#footer .ball_group img {margin-left: 20px;}
#footer .ball_group img:nth-child(1) {animation: push 3s 2s infinite;}
#footer .ball_group img:nth-child(2) {animation: push 3s 2.2s infinite;}
#footer .ball_group img:nth-child(3) {animation: push 3s 2.4s infinite;}
#footer .ball_group img:nth-child(4) {animation: push 3s 2.6s infinite;}

.gotop {width: 80px; height: 80px; background: var(--main-color01) url(../images/Arrow\ 1\ \(Stroke\).png) no-repeat center; position: fixed; bottom: 50px; right: 40px; border-radius: 50px; cursor: pointer; opacity: 0; visibility: hidden; transition: all 0.3s; z-index: 99; animation: go 3s 2.8s infinite;}
.gotop.active {opacity: 1; visibility: visible;}


@keyframes push {
  0% {transform: rotate(0deg);}
  30% {transform: rotate(0deg) translateX(-34%);}
  40% {transform: rotate(30deg);}
  50% {transform: rotate(0deg);}
  100% {transform: rotate(0deg);}
}

@keyframes go {
  0% {transform: translateY(0);}
  30% {transform: translateY(0);}
  40% {transform: translateY(-5%)}
  50% {transform: translateY(0)}
  100% {transform: translateY(0)}
}

@media (max-width: 1900px) {
  #footer .ball_group {text-align: center; margin-top: 40px;}
}

@media (max-width: 700px) {
  #footer {padding: 50px 0;}
  #footer .ball_group img {width: 48px; margin-left: 8px;}
  #footer dl dt {font-size: 3.2rem;}
#footer dl dd {font-size: 2rem;}
  .gotop {width: 48px; height: 48px; background: var(--main-color01) url(../images/Arrow\ 1\ \(Stroke\).png) no-repeat center / 20px; right: 20px;}
  #footer .footer_logo img {width: 100px;}
}

/* contact_box */
.contact_box {background: #fff; top: 80px; position: fixed; z-index: 50; right: 210px; padding: 40px;border-radius: 40px 0 40px 0; border: 1px solid var(--main-color01); display: none;}
.contact_box dl dt {font-size: 2.4rem; font-weight: 600;}
.contact_box dl dd {color: #727272; font-weight: 500; margin-bottom: 10px;}
.contact_box ul li:nth-of-type(2) {display: flex; align-items: center; gap: 8px;}
.contact_box ul li:nth-of-type(2) button {background: transparent; font-weight: 300; color: var(--main-color01); font-size: 1.4rem; display: flex; align-items: center; gap: 6px; border: 1px solid var(--main-color01); padding: 6px 12px; border-radius: 16px; cursor: pointer; transition: all 0.3s;}
.contact_box ul li:nth-of-type(2) button:hover {background: var(--main-color01); color: #fff;}
.contact_box ul li:nth-of-type(2) button:hover img {filter: brightness(0) invert(1);}

/* mgnb */
.mgnb_wrap {position: absolute; top: 100%; left: 0; width: 100%; margin-top: 10px; background: #fff; box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); border-radius: 20px; text-align: center; overflow: hidden;}
.mgnb_wrap li a {display: block; padding: 10px;}
.mgnb_wrap li a.m_contact {background: var(--main-color01); color: #fff;}

.gnb li a .span-mother {display: flex; overflow: hidden; position: relative;}
.gnb li:hover a .span-mother {position: relative;}
.gnb li:hover a .span-mother span {transform: translateY(1.3em);}
.gnb li a .span-mother span:nth-child(1) {transition: 0.2s;}
.gnb li a .span-mother span:nth-child(2) {transition: 0.3s;}
.gnb li a .span-mother span:nth-child(3) {transition: 0.4s;}
.gnb li a .span-mother span:nth-child(4) {transition: 0.5s;}
.gnb li a .span-mother span:nth-child(5) {transition: 0.6s;}
.gnb li a .span-mother span:nth-child(6) {transition: 0.7s;}
.gnb li a .span-mother span:nth-child(7) {transition: 0.8s;}
.gnb li a .span-mother span:nth-child(8) {transition: 0.9s;}
.gnb li a .span-mother span:nth-child(9) {transition: 1s;}
.gnb li a .span-mother span:nth-child(10) {transition: 1.1s;}
.gnb li a .span-mother span:nth-child(11) {transition: 1.2s;}
.gnb li a .span-mother2 {display: flex; position: absolute; overflow: hidden;}
.gnb li a .span-mother2 span {transform: translateY(-1.3em);}
.gnb li:hover a .span-mother2 span {transform: translateY(0);}
.gnb li a .span-mother2 span {transition: 0.2s;}
.gnb li a .span-mother2 span:nth-child(2) {transition: 0.3s;}
.gnb li a .span-mother2 span:nth-child(3) {transition: 0.4s;}
.gnb li a .span-mother2 span:nth-child(4) {transition: 0.5s;}
.gnb li a .span-mother2 span:nth-child(5) {transition: 0.6s;}
.gnb li a .span-mother2 span:nth-child(6) {transition: 0.7s;}
.gnb li a .span-mother2 span:nth-child(7) {transition: 0.8s;}
.gnb li a .span-mother2 span:nth-child(8) {transition: 0.9s;}
.gnb li a .span-mother2 span:nth-child(9) {transition: 1s;}
.gnb li a .span-mother2 span:nth-child(10) {transition: 1.1s;}
.gnb li a .span-mother2 span:nth-child(11) {transition: 1.2s;}

