@charset "utf-8";

.s_inner {max-width: 1140px; margin: 0 auto; padding: 0 20px;}

/* opening */
.opening {padding-top: 50px; margin-top: 220px; transition: margin-top 0.4s ease;}
.opening .bread_crumbs {display: flex; align-items: center; color: #575757; margin-bottom: 100px;}
.opening .bread_crumbs li {padding-left: 30px; background: url(../images/sub/arrow.png) no-repeat left 3px center;}
.opening .bread_crumbs li:first-child {background: none; padding-left: 0;}
.opening h2 {font-size: 4.8rem; font-weight: 700; line-height: 1.2;}
.opening h2 span {color: var(--main-color01);}
.opening h2::before {content: "With Humming School"; display: block; font-size: 1.6rem; font-weight: 600; color: var(--main-color01);}
.opening p {font-size: 4.8rem; font-weight: 500; margin: 20px 0 50px;}
.opening .op_banner {border-radius: 20px; width: 100%;}
.opening .slogan_banner {width: 100%; margin: 150px 0;}
.opening .m_banner {width: 100%; display: none;}

@media (max-width: 1140px) {
  .opening {margin-top: 120px;}
  .opening h2 {font-size: 4rem;}
  .opening p {font-size: 4rem;}
  .opening .slogan_banner {margin: 100px 0;}
}

@media (max-width: 820px) {
  .opening h2 {font-size: 2.8rem;}
  .opening h2::before { font-size: 1.2rem;}
  .opening p {font-size: 2.8rem; margin: 20px 0;}
  .opening .slogan_banner {margin: 60px 0 100px;}
  .opening .bread_crumbs {margin-bottom: 50px;}
}

@media (max-width: 600px) {
  .opening h2 {font-size: 2rem;}
  .opening p {font-size: 2rem; margin: 10px 0 20px;}
  .opening .m_banner {margin: 60px 0 100px;}
  .opening .slogan_banner {display: none;}
  .opening .m_banner {display: block;}
}

@media (max-width: 499px) {
  .opening {padding-top: 10px;}
  .opening h2 {font-size: 1.6rem;}
  .opening p {font-size: 1.6rem; margin: 10px 0 20px;}
  .opening .m_banner {margin: 40px 0 80px;}
  .opening .bread_crumbs {font-size: 1.4rem;}
}

/* info01 */
.info01 .humming_plan {display: grid; grid-template-columns: 1fr 1fr; gap: 50px;}
.info01 h2 {font-size: 4.8rem; font-weight: 500; color: var(--main-color01); line-height: 1.2;}
.info01 h2::before {content: '"준비된 플랜은 완벽합니다"'; font-size: 2rem; font-weight: 600; color: #333; display: block;}
section a.btn_more {font-size: 2rem; font-weight: 500; color: #727272; padding-right: 35px; background: url(../images/sub/btn_more03.png) no-repeat right center; display: inline-block; margin: 5px 0 20px;}
.info01 p {font-weight: 500; margin-bottom: 20px;}
.info01 .plan_list {width: 100%; min-width: 0;}
.info01 .plan_list img {border-radius: 20px;}
.info01 .humming_teacher {display: grid; grid-template-columns: 1fr 1fr; gap: 50px; margin: 150px 0;}
.info01 .humming_teacher .teacher_txt {text-align: right;}
.info01 .humming_teacher .teacher_txt h2 {color: #acc5fa;}
.info01 .humming_teacher .teacher_txt h2::before {content: '"전문성과 세심함을 모두 갖추었습니다."';}
.info01 .humming_material .material_img {border-radius: 50px; width: 100%; margin-bottom: 50px;}
.info01 .humming_material .m_material {display: none; border-radius: 20px; margin: 0 auto 50px;}
.info01 .humming_material .material_txt h2 {color: #FFC3C3;}
.info01 .humming_material .m_txt {display: none;}


@media (max-width: 1140px) {
  .info01 h2 {font-size: 4rem;}
}

@media (max-width: 1000px) {
  .info01 .humming_material .material_txt {text-align: center;}
  .info01 .humming_material .material_txt > p {display: none;}
  .info01 .humming_material .m_txt {display: block;}
}

@media (max-width: 960px) {
  .info01 .humming_plan {grid-template-columns: 100%;}
  .info01 .humming_plan .plan_txt {text-align: center;}
  .info01 .humming_plan .plan_list {text-align: center;}
  .info01 .humming_teacher {grid-template-columns: 100%;}
  .info01 .humming_teacher .teacher_txt {text-align: center; order: 2;}
  .info01 .humming_teacher .plan_list {text-align: center; order: 1;}
  section a.btn_more {margin-top: 10px;}
}

@media (max-width: 820px) {
  .info01 h2 {font-size: 2.8rem;}
  .info01 h2::before {font-size: 1.6rem;}
}

@media (max-width: 600px) {
  section a.btn_more {font-size: 1.6rem; background: url(../images/main/btn_more03.png) no-repeat right 5px center / 24px;}
  .info01 .humming_material .m_material {display: block;}
  .info01 .humming_material .material_img {display: none;}
}

@media (max-width: 499px) {
  .info01 p {font-size: 1.4rem;}
  .info01 .humming_teacher {margin: 100px 0;}
}

@media (max-width: 400px) {
  .info01 p {font-size: 1.2rem;}
  
}


/* news */
.news {margin-top: 150px;}
.news h2 {font-size: 4.8rem; font-weight: 500; color: #333; line-height: 1.2;}
.news p {font-size: 1.4rem; margin-top: 15px;}
.news img {border-radius: 20px;}
.news dl dt {color: #999;}
.news dl dt span {margin-right: 10px;}
.news dl dd {font-size: 2rem; font-weight: 500;}
.news dl dd br {display: none;}
.news .btn_news {color: #fff; font-size: 1.4rem; font-weight: 500; background: #333; padding: 10px 20px; display: inline-block; border-radius: 50px; margin-top: 15px;}
.news .news01 {display: grid; grid-template-columns: 500px auto; gap: 20px; align-items: center;}
.news .news02 {display: grid; grid-template-columns: 500px auto; gap: 20px; align-items: center; margin: 30px 0 150px;} 

@media (max-width: 1150px) {
  .news {text-align: center;}
  .news h2 {font-size: 4rem;}
  .news .news01 {grid-template-columns: 100%}
  .news .news02 {grid-template-columns: 100%;}
}
@media (max-width: 820px) {
  .news h2 {font-size: 2.8rem;}
}
@media (max-width: 640px) {
  .news .news01 .news_txt p:not(:first-of-type) {display: none;}
  .news .news02 .news_txt p:not(:first-of-type) {display: none;}
  .news p {font-size: 1.2rem; margin-top: 10px;}
.news img {width: 100%;}
.news dl dt {font-size: 1.2rem;}
.news dl dd {font-size: 1.4rem;}
}

@media (max-width: 499px) {
  .news dl dd br {display: block;}
  .news p br {display: none;}
  .news p {font-size: 1.4rem; margin-top: 10px; word-break: keep-all;}
}








/* util_nav */
.util_nav {position: fixed; left: 50px; bottom: 50px; background: var(--main-color01); border-radius: 50px; width: 80px; z-index: 5; color: #fff; font-family: var(--sub-font01); text-align: center; display: grid; align-items: center; padding: 20px 0; gap: 20px;}
.util_nav span {display: block; font-size: 1.4rem;}

.gotop {display: none; width: 50px; height: 50px; background: url(../images/main/nav_road.png) no-repeat center; background-color: var(--main-color01); position: fixed; bottom: 20px; right: 20px; z-index: 100; border-radius: 50px;}

@media (max-width: 1375px) {
  .util_nav {display: none;}
  .gotop {display: block;}
}