@charset "utf-8";


/* main */
#header .gnb > li:nth-of-type(3) > a {color: var(--main-color01);}
#header .gnb > li:nth-of-type(3) > a::after {content: ""; display: block; width: 100%; height: 3px; background: var(--main-color01); margin-top: 5px; transition: all 0.5s;} 

/* search */
.search {position: sticky; top: 134px; display: flex; justify-content: center; gap: 10px; padding: 20px; background: #fff; z-index: 2;}
.search .input_box {padding: 10px 24px 10px 30px; width: 520px; border: 1px solid var(--main-color01); border-radius: 50px; display: flex; justify-content: space-between;}
.search .input_box form {height: 54px;}
.search input[type="text"] {outline: none; width: 480px; font-size: 1.8rem; font-weight: 500; color: var(--main-color02);}
.search input[type="text"]::placeholder {color: var(--sub-color01); font-size: 1.8rem; font-weight: 500;}
.search input[type="submit"] {width: 32px; height: 32px; background: url(../images/main/btn_search.png)no-repeat center; font-size: 0; cursor: pointer;}
.search .btn_filter {padding: 2px 12px; background: var(--main-color01); border-radius: 50px; cursor: pointer; height: 54px; }
.filter_menu {display: flex; justify-content: center; gap: 10px; flex-wrap: wrap; max-width: 800px; margin: 134px auto 0; padding-bottom: 40px;}
.filter_menu a.active {background-color: var(--main-color01); border: 1px solid var(--main-color01); color: #fff;}
.filter_menu a {padding: 7px 20px 6px; background: transparent; border-radius: 50px; border: 1px solid #999; color: #999; font-weight: 600;}
.card_banner01 a {display: block; width: 100%; height: 400px; font-size: 0; background: url(../images/sub/card_banner01.png) center / cover;}

@media (max-width: 1200px) {
  .search {top: 88px;}
  .filter_menu {margin: 88px auto 0}
}

@media (max-width: 920px) {
  .search .input_box {width: 500px;}
  .search input[type="text"] {width: 400px;}
  .filter_menu a {padding: 5px 15px 4px;}
}

@media (max-width: 740px) {
  .search .input_box {width: 380px; padding: 5px 15px 8px 20px;}
  .search input[type="text"] {width: 320px;}
  .search .btn_filter {padding: 0 5px; height: 47px; display: flex; align-items: center;}
  .filter_menu {gap: 5px; padding-bottom: 20px;}
  .filter_menu a {padding: 5px 15px 4px; font-size: 1.4rem;}
  .search input[type="text"]::placeholder {font-size: 1.6rem;}
}

@media (max-width: 620px) {
  .search {gap: 5px;}
  .search .input_box {width: 320px; padding: 5px 15px 8px 20px;}
  .search input[type="text"] {width: 340px;}
}

@media (max-width: 540px) {
  .search input[type="text"]::placeholder {color: var(--sub-color01); font-size: 1.4rem; font-weight: 500;}
  .search .input_box {width: 280px; padding: 5px 10px 8px 12px;}
  .search input[type="text"] {width: 220px;}
  .search input[type="submit"] {width: 24px; height: 24px; background: url(../images/main/btn_search.png)no-repeat right top 2px / 24px; font-size: 0; cursor: pointer;}
  .search .btn_filter {padding: 1px 0px; background: var(--main-color01); border-radius: 50px; cursor: pointer; height: 38px; }
  .filter_menu a {padding: 5px 15px 4px; font-size: 1.2rem;}
}

@media (max-width: 460px) {
  .search .input_box {width: 240px;}
  .search input[type="text"] {width: 180px;}
}

/* card */
.card .inner {max-width: 1570px; }
.card .card_list {padding: 50px 180px 100px;}
.card .card_list .card_select {display: grid; grid-template-columns: repeat(3,1fr); column-gap: 220px; row-gap: 50px; justify-content: center;}
.card .card_list .card_select > li:last-child {display: none;}
.card .card_list .card_img {position: relative; height: 390px; z-index: 2;}
.card .card_list .card_img img {transition: all 0.5s; position: absolute; height: 380px;}
.card .card_select .card_name {text-align: center;}
.card .card_select .card_name li {font-weight: 600; font-size: 1.4rem;}
.card .card_select .card_name li:nth-child(1) {font-size: 2rem; font-weight: 500;}
.card .card_select .card_name li:nth-child(1) span {color: var(--main-color01);}
.card .card_select .card_name li:nth-child(2) {margin-top: 5px; display: none;  }
.card .card_select .card_name li:nth-child(3) {display: none;}
.card .card_select .card_name li.new {background: var(--main-color01); color: #fff; font-weight: 500; border-radius: 50px; padding: 4px 15px 3px; display: inline-block; font-size: 1.4rem; margin-top: 10px;}

.card .card_list .card_img img.active {transform: translateX(-120px);}
.card .card_list .hide_info {position: absolute; left: 140px; top: 0 ;  display: none; width: 300px; z-index: -1;}
.card .card_list .hide_info h3 {font-weight: 500;}
.card .card_list .hide_info ul {list-style:disc; margin-bottom: 20px;}
.card .card_list .hide_info ul li {font-size: 1.4rem; margin: 5px 0 0 20px; font-weight: 500;}
.card .card_list .hide_info h4 {font-weight: 500; font-size: 1.8rem;}
.card .card_list .hide_info dl {margin-top: 10px;}
.card .card_list .hide_info dl dt {font-size: 1.4rem; color: #999; margin-left: 5px;}
.card .card_list .hide_info dl dd {font-size: 2rem; font-weight: 600; margin-left: 5px;}
.card .card_list .hide_info a.btn_apply {color: var(--main-color01); border: 1px solid var(--main-color01); border-radius: 50px; padding: 5px 15px 5px 28px; margin-top: 20px; display: inline-block; transition: all 0.5s; background: url(../images/sub/plus.png) no-repeat left 8px top 8px;}
.card .card_list .hide_info a.btn_more {color: var(--main-color01); border: 1px solid var(--main-color01); border-radius: 50px; padding: 5px 15px; margin-top: 20px; display: inline-block; transition: all 0.5s;}
.card .card_list .hide_info a.btn_apply:hover {border: 1px solid var(--main-color01); background:url(../images/sub/plus_w.png) no-repeat left 8px top 8px var(--main-color01); color: #fff;}
.card .card_list .hide_info a.btn_more:hover {border: 1px solid var(--main-color01); background: var(--main-color01); color: #fff;}

.card .card_img .hide_info.active {opacity: 1; z-index: 1; transition: all 0.5s 0.3s;}

.button_box {background: var(--main-color01); width: 100px; border-radius: 50px; display: flex; align-items: center; justify-content: center; padding-top: 22px; gap: 15px;}
.card-prev {color: transparent; width: 30px; height: 30px; background: url(../images/main/banner_arrow_prev.png) no-repeat center / 30px; z-index: 100; position: static; filter: invert(1) brightness(100);}
.card-next {color: transparent; width: 30px; height: 30px; background: url(../images/main/banner_arrow_next.png) no-repeat center / 30px; z-index: 100; position: static; filter: invert(1) brightness(100);}

.btn_card_full {width: 200px; margin: 0 auto; display: flex; align-items: center; justify-content: center; padding: 30px 0 10px; gap: 100px; margin-bottom: 100px;}
.card02-prev {color: transparent; width: 60px; height: 60px; background: url(../images/main/banner_arrow_prev.png) no-repeat center / 60px; z-index: 1; position: static; }
.card02-next {color: transparent; width: 60px; height: 60px; background: url(../images/main/banner_arrow_next.png) no-repeat center / 60px; z-index: 1; position: static; }


@media (max-width: 1580px) {
    .card .inner {max-width: 1240px;}
    .card .card_list {padding: 50px 240px;}
  .card .card_list .card_select {grid-template-columns: 1fr 1fr;}
  .card .card_list .card_select > li:last-child {display: block;}
}
@media (max-width: 1250px) {
.card .card_list {padding: 50px 0;}
.card .card_select .card_name li:nth-child(2) {display: block;}
.card .card_select .card_name li:nth-child(3) {display: block;}
.card .card_list .card_img {display: flex; justify-content: center;}
.card .card_list .card_img img {position: static;}
.card .card_list .card_select {column-gap: 50px;}

}
@media (max-width: 800px) {
  .card_banner01 a {background: url(../images/sub/card_banner01_m.png)no-repeat center / cover; height: 300px;}
  .card .card_list .card_select {column-gap: 0px;}
}

@media (max-width: 600px) {
  .card .card_list .card_img {height: 240px;}
  .card .card_list .card_img img {width: 140px; height: 230px;}
  .card .card_list .card_select {column-gap: 30px;}
}

@media (max-width: 540px) {
  .button_box {width: 70px; gap: 0;}
}

@media (max-width: 460px) {
  .card_banner01 a {background: url(../images/sub/card_banner01_m.png)no-repeat center / cover; height: 240px;}
  .card .card_select .card_name li:nth-child(1) {font-size: 1.6rem; font-weight: 500;}
  .card .card_select .card_name li:nth-child(2) {font-size: 1rem;}
.card .card_select .card_name li:nth-child(3) {font-size: 1rem;}
.card .card_select .card_name li.new {font-size: 1.2rem;}
.card-prev { background: url(../images/main/banner_arrow_prev.png) no-repeat center / 20px;}
.card-next { background: url(../images/main/banner_arrow_next.png) no-repeat center / 20px;}
.btn_card_full {margin-bottom: 50px;}
}

/* event_banner */
.event_banner {margin-bottom: 100px;}
.event_banner .inner {max-width: 1220px;}
.event_banner .event_list ul li {height: 400px; border-radius: 30px; overflow: hidden;}
.event_banner .event_list ul .event_bg01 {background: #231F20 url(../images/main/visual_bg_card.png) no-repeat right 100px bottom -30px; color: #fff; padding: 50px 100px;}
.event_banner .event_list ul .event_bg01 dl dt {font-size: 3rem;}
.event_banner .event_list ul .event_bg01 dl dd {font-size: 4.2rem; line-height: 1.2;}
.event_banner .event_list ul .event_bg02 {font-size: 0; background: url(../images/sub/event_bg02.png) no-repeat center / cover;}
.event-prev {color: transparent; width: 60px; height: 60px; background: url(../images/main/slide_Arrow_prev.png);}
.event-next {color: transparent; width: 60px; height: 60px; background: url(../images/main/slide_Arrow_next.png);}

@media (max-width: 1020px) {
  .event_banner .event_list ul li {height: 300px;}
  .event_banner .event_list ul .event_bg01 {background: #231F20 url(../images/main/visual_bg_card.png) no-repeat right 50px bottom -30px / 300px; padding: 50px;}
  .event-prev {display: none;}
  .event-next {display: none;}
}
 @media (max-width: 770px) {
  .event_banner .event_list ul .event_bg01 {background: #231F20 url(../images/main/visual_bg_card.png) no-repeat right 50px bottom / 240px;padding:90px 50px; }
   .event_banner .event_list ul .event_bg02 {background: url(../images/sub/event_bg02R.png) no-repeat center / cover;}
   .event_banner .event_list ul .event_bg01 dl dt {font-size: 2rem;}
.event_banner .event_list ul .event_bg01 dl dd {font-size: 3rem; line-height: 1.2;}
 }

 @media (max-width: 620px) {
   .event_banner .event_list ul li {height: 240px;}
   .event_banner .event_list ul .event_bg01 {background: #231F20 url(../images/main/visual_bg_card.png) no-repeat right 50px bottom / 180px; padding: 80px 50px; }
   .event_banner .event_list ul .event_bg01 dl dt {font-size: 1.6rem;}
.event_banner .event_list ul .event_bg01 dl dd {font-size: 2rem; line-height: 1.2;}
 }

@media (max-width: 470px) {
  .event_banner .event_list ul li {height: 200px;}
  .event_banner .event_list ul .event_bg01 {background: #231F20 url(../images/main/visual_bg_card.png) no-repeat center bottom -20px / 140px; padding: 20px 20px; text-align: center;}
}